/* 元素边距初始化 */
*{
    padding:0px;
    margin: 0px;
}
a{
    color: blue;
    height: 100px;
    width: 800px;
    border: 1px solid red;
    /* 装换为块状元素 */
    display: none;
}
h1{
    color: blue;
    height: 100px;
    width: 800px;
    border: 1px solid red;
}
img{
    height: 700px;
    width: 500px;
}
h2{
    color: rebeccapurple;
}
.box{
    border: 10px solid red;
    /* border-color: ;
    border-style: solid;
    border-width: 10px; */
    height: 100px;
    width: 100px;
    /* margin-top: 50px;
    margin-left: 100px; */
    /* top right down left 顺时针*/
    margin: 0px 0 0 0px;
    /* top down left right
    margin: 100px 200px; */
    padding: 30px;
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
    border: 1px solid red;
    height: 300px;
    width: 800px;
    
}
.fruits{
    border: 1px solid red;
    width: 800px;
    margin: 0 auto;
    padding-left: 100px;
    box-sizing: border-box;
    padding-top: 20px;
}
.sports{
    
    width: 800px;
    border: 1px solid blue;
    margin: 0 auto;
    margin-top: 50px;
    
}
.fruits ul,.sports ul{
    list-style: inside;
}
.content{
    width: 200px;
    height: 200px;
    border: 1px solid rebeccapurple;
    float: left;
}

.aside{
    width: 200px;
    height: 200px;
    border: 1px solid rebeccapurple;
    float: left;
}
.box{
    width: 400px;
    height: 400px;
    background-color: red;
    
}

.clear::before,.clear::after{
    content: "";
    display: block;
    clear: both;
}